<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_bengkel_root" name="Bengkel" sequence="10"/>
    <menuitem id="menu_bengkel_order" name="Work Order"
              parent="menu_bengkel_root" action="action_order" sequence="10"/>
    <menuitem id="menu_bengkel_vehicle" name="Kendaraan"
              parent="menu_bengkel_root" action="action_vehicle" sequence="20"/>
</odoo>